@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f7ff;
  --foreground: #171717;
  --primary: #7547f8;
  --primary-light: #9a7af3;
  --primary-dark: #622df4;
}

.social-icons:hover {
  fill: var(--primary);
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

