@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f7ff; /* Background color */
  --foreground: #171717; /* Text and primary content color */
  --primary: #7547f8; /* Primary theme color */
  --primary-light: #9a7af3; /* Lighter shade of primary */
  --primary-dark: #622df4; /* Darker shade of primary */
}

.social-icons:hover {
  fill: var(--primary); /* Change icon color on hover */
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards; /* Scale-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards; /* Fade-in animation */
}
